@charset "UTF-8";

:root{
    --bg-color: #04044c;
    --secondary-br-color: #494a7d;
    --primary-color: #fff;
    --secondary-color: #25cc88;
    --text-color: #8789af;
    --border-color: #20235b;
}

/* Reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--primary-color);
}

body{
    background-color: var(--bg-color);
}

::placeholder {
    color: var(--text-color);
  }

.fade{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100%;
    display: flex;
    top: 0px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.342);
}

#fade #loader{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-left: solid 5px #25cc88;
    border-top: solid 10px #25cc88;
    animation: loading infinite 1s;
}

@keyframes loading {
    0%{
        transform: rotate(0deg);
        border-left: solid 5px #25cc88;
        border-top: solid 10px #25cc88;
    }
    50%{
        transform: rotate(180deg);
        border-left: solid 10px #25cc88;
        border-top: solid 5px #25cc88;
    }
    100%{
        transform: rotate(360deg);
    }
}

.hide, .mq-hide{
    display: none;
}

/* Content */
main{
    margin: 20px auto;
    width: 85vw;
}

/* Header Status Bar */
#status-area #status-list{
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}

#status-list .status-item{
    text-align: center;
    font-size: 14px;
}

#status-list .mq-hide{
    color: #dfdfdf;
}

#status-list .status-icon{
    background-color: var(--text-color);
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

#status-list .done{
    background-color: var(--secondary-color);
}

.line{
    position: absolute;
    top: 55.5px;
    left: 15%;
    z-index: -1;
    background-color: var(--secondary-br-color);
    width: 75%;
    height: 2px;
}

.div-line{
    margin: 17px 0;
    background-color: var(--secondary-br-color);
    width: 100%;
    height: 2px;
}

/* Header Form */
#form-header .main-title{
    font-size: 27px;
    font-weight: bold;
    text-align: center;
    margin: 1px 0 10px 0;
}

#form-header .main-subtitle{
    color: var(--text-color);
    text-align: justify;
    text-indent: 7px;
}

#form-header label{
    display: none;
}

#form-header #main-form{
    display: flex;
}

#form-header #cep-input{
    width: 95%;
    height: 55px;
    margin: 10px auto 0px auto;
    padding-left: 10px;
    background-color: transparent;
    font-size: 16px;
    border: solid 2px var(--border-color);
    border-radius: 10px;
}

/* Adress forms */
#adress-form-area #adress-form-list{
    margin-top: 15px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#adress-form-area .adress-input-item{
    width: 95%;
}

#adress-form-area .adress-input{
    margin: 5px auto;
    width: 100%;
    height: 55px;
    border-radius: 6px;
    padding-left: 10px;
    border: solid 2px var(--border-color);
    background-color: var(--secondary-br-color);
}

#adress-form-area .enable{
    background-color: transparent;
}

#adress-form-area #save-btn{
    height: 40px;
    width: 23%;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 20px;
}